<h1 class="current-category"><%= params[:cat] %></h1>

<% if @plays.count == 0 %>
	<h3>There are no plays in this category</h3>
<% else %>
	<div class="row">
		<% @plays.each do |p| %>
			<div class="col-md-3">
				<a href="/plays/ <%= p.id %>">
					<%= image_tag p.play_img.url(:play_index), class: "play" %>
				</a>
			</div>
		<% end %>
	</div>
<% end %>
